.header, footer {
  display: none !important;
}

.app-wrapper {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}
.home-page {

  .boxes {
    width: 50%;
    display: inline-block;
    height: 700px;
    vertical-align: middle;
    text-align: center;

    .btn {
      margin-top: 200px;
    }
  }
  
  .left {
    background-color: orange;
  }

  .right {
    background-color: #fff;
  } 
  
  h2 {
    font-size: 1.5em;
  }
  
  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  form {
    margin-bottom: 1em;

    input {
      outline: none;
      border-bottom: 1px dotted #999;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }
}
