.app-wrapper {
  max-width: calc(768px + 16px * 2);
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding: 0 16px;
  flex-direction: column;
}

.btn-orange {
  background-color: orange !important;
  border-color: #eb9834 !important;
}

.btn-orange:hover {
  background-color: #eb9834 !important;
}